<h1>All Volunteers</h1>
<table>
  <tr>
    <th>First Name</th>
    <th>Middle Initial</th>
    <th>Last Name</th>
    <th>Date Of Birth</th>
    <th>Political Interests</th>
  </tr>
  <% @volunteers.each do |v| %>
    <tr>
      <td><%= v.first_name %></td>
      <td><%= v.middle_initial %></td>
      <td><%= v.last_name %></td>
      <td><%= v.date_of_birth %></td>
      <td><%= v.political_interests %></td>
    </tr>
  <% end %>
</table>

<!-- if time allows: add links to each user that goes to their show page -->
