<div class="container-fluid">
  <h1>All Volunteers</h1>
  <a href="/volunteers/new">New Volunteer</a>
</div>
<table class="table">
  <tr>
    <th>Volunteer Page</th>
    <th>First Name</th>
    <th>Middle Initial</th>
    <th>Last Name</th>
    <th>Date Of Birth</th>
    <th>Political Interests</th>
  </tr>
  <% @volunteers.each do |v| %>
    <tr>
      <td><%= link_to v.id, volunteer_path(v) %></td>
      <td><%= v.first_name %></td>
      <td><%= v.middle_initial %></td>
      <td><%= v.last_name %></td>
      <td><%= v.date_of_birth %></td>
      <td><%= v.political_interests %></td>
    </tr>
  <% end %>
</table>
